[ req ]
distinguished_name = req_distinguished_name
x509_extensions    = v3_ext
req_extensions     = v3_ext
prompt             = no
default_md         = sha512
default_bits       = 4096

[ req_distinguished_name ]
C  = US
ST = CA
L  = Newport Beach
O  = Super Evil Mega Company
OU = Backend Engineers
CN = rms1000watt

[ v3_ext ]
keyUsage         = keyEncipherment, dataEncipherment
extendedKeyUsage = serverAuth
subjectAltName   = @alt_names

[ alt_names ]
DNS.1 = www.example.com
DNS.2 = localhost
IP.1  = 127.0.0.1
IP.2  = 0.0.0.0
